#
# This file contains the firewall configuration for spinet on Theia.
# Each non-comment line represents a set of arguments to pass to iptables.
# Whitespace can be escaped with '\'
#

################
# spinet_INPUT #
################

# Allow pings
spinet_INPUT -p icmp --icmp-type 8 -j ACCEPT # ping
spinet_INPUT -p icmp --icmp-type 0 -j ACCEPT # ping reply

#######
# tcp #
#######

# Allow existing connections
spinet_INPUT -p tcp -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# SOCKS5 proxy server
spinet_INPUT -p tcp --dport 1080 -j ACCEPT
spinet_INPUT -p tcp --dport 1081 -j ACCEPT
spinet_INPUT -p tcp --dport 8888 -j ACCEPT

# Spinet test
spinet_INPUT -p tcp --dport 6000 -j ACCEPT
spinet_INPUT -p tcp --dport 6001 -j ACCEPT
spinet_INPUT -p tcp --dport 6002 -j ACCEPT

# SmartHomeSkill SkillContainer
spinet_INPUT -p tcp --dport 7086 -j ACCEPT

# DiagnosticSkill SkillContainer
spinet_INPUT -p tcp --dport 7087 -j ACCEPT

# ArtifactManager
spinet_INPUT -p tcp --dport 7088 -j ACCEPT

# ExpatUtilsManagerD
spinet_INPUT -p tcp --dport 61052 -j ACCEPT

# LogPullHandler
spinet_INPUT -p tcp --dport 61053 -j ACCEPT

# GrpcAicfHost Discover
spinet_INPUT -p tcp --dport 41070 -j ACCEPT

# GrpcAicfHost Advertise
spinet_INPUT -p tcp --dport 41071 -j ACCEPT

# GrpcAicfHost Authentication
spinet_INPUT -p tcp --dport 41072 -j ACCEPT

# GrpcAicfHost Authorization
spinet_INPUT -p tcp --dport 41073 -j ACCEPT

# GrpcAicfHost ControlPlane
spinet_INPUT -p tcp --dport 41074 -j ACCEPT

# fallback
spinet_INPUT -p tcp -j DROP

#######
# udp #
#######

# Allow existing connections
spinet_INPUT -p udp -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# Ntpd
spinet_INPUT -p udp --dport 123 -j ACCEPT

# SOCKS5 out-of-band server
spinet_INPUT -p udp --dport 1080 -j ACCEPT

# Spinet test
spinet_INPUT -p udp --dport 6000 -j ACCEPT
spinet_INPUT -p udp --dport 6001 -j ACCEPT
spinet_INPUT -p udp --dport 6002 -j ACCEPT

# fallback
spinet_INPUT -p udp -j DROP

#################
# spinet_OUTPUT #
#################

# HybridRouter to AHE connection
spinet_OUTPUT -p tcp --dport 7802 -j DROP
# Smarthome Skill
spinet_OUTPUT -p tcp --sport 7086 -j DROP
# ArtifactManager push notification
spinet_OUTPUT -p tcp --dport 9091 -j DROP
# SkillContainer content ingestion
spinet_OUTPUT -p tcp --dport 9092 -j DROP

#######
# tcp #
#######

# fallback
spinet_OUTPUT -p tcp -j ACCEPT

#######
# udp #
#######

# fallback
spinet_OUTPUT -p udp -j ACCEPT

######################
# spinet_POSTROUTING #
######################

# Mark Guide:
#   1 (Critical aka Watchdog, etc.)
#   2 (High)
#   3 (Normal)
#   4 (Low)
#
# All levels use whatever bandwidth is left over from the levels above them. For
#  example, if total bandwidth is 12Mb/s and Critical+High is using 2Mb/s,
#  Normal will be able to use up to 10Mb/s. Whatever portion it doesn't use will
#  be available to Low. If no extra bandwidth is available, lower levels will
#  have to wait.
#
# Default is 3 (Normal)
#
spinet_POSTROUTING -j MARK --set-mark 0x3


#######
# tcp #
#######

# Spinet test
spinet_POSTROUTING -p tcp --sport 6000 -j MARK --set-mark 0x2
spinet_POSTROUTING -p tcp --sport 6002 -j MARK --set-mark 0x4

# SmartHomeSkill SkillContainer
spinet_POSTROUTING -p tcp --sport 7086 -j MARK --set-mark 0x2

# DiagnosticSkill SkillContainer
spinet_POSTROUTING -p tcp --sport 7087 -j MARK --set-mark 0x2

# ArtifactManager
spinet_POSTROUTING -p tcp --sport 7088 -j MARK --set-mark 0x2


# Spinet test
spinet_POSTROUTING -p tcp --dport 6000 -j MARK --set-mark 0x2
spinet_POSTROUTING -p tcp --dport 6002 -j MARK --set-mark 0x4

# AHE ExecutionController
spinet_POSTROUTING -p tcp --dport 7802 -j MARK --set-mark 0x2
spinet_POSTROUTING -p tcp --dport 7805 -j MARK --set-mark 0x2

# ArtifactManager
spinet_POSTROUTING -p tcp --dport 9091 -j MARK --set-mark 0x2

# System OTA Update
spinet_POSTROUTING -p tcp --dport 61051 -j MARK --set-mark 0x2

# Companion Watchdog
spinet_POSTROUTING -p tcp --dport 61055 -j MARK --set-mark 0x1

# GrpcBootSync
spinet_POSTROUTING -p tcp --dport 61061 -j MARK --set-mark 0x1

#######
# udp #
#######

# Spinet test
spinet_POSTROUTING -p udp --sport 6000 -j MARK --set-mark 0x2
spinet_POSTROUTING -p udp --sport 6002 -j MARK --set-mark 0x4

# Spinet test
spinet_POSTROUTING -p udp --dport 6000 -j MARK --set-mark 0x2
spinet_POSTROUTING -p udp --dport 6002 -j MARK --set-mark 0x4

