# Copyright (c) 2022 Amazon.com, Inc. or its affiliates.  All rights reserved.
#
# PROPRIETARY/CONFIDENTIAL.  USE IS SUBJECT TO LICENSE TERMS.

service amzn_mmc_utils /system/bin/amzn_mmc_utils property_set
    group root shell
    oneshot
    disabled
