# CSM SmartHome LocalSkills Daemon init.rc configuration

on post-fs-data
    mkdir /data/securedStorageLocation/SmartHome 0777 vendor_smarthome vendor_smarthome
    mkdir /data/securedStorageLocation/SmartHome/PROT_LOCALSKILLS 0777 vendor_smarthome vendor_smarthome

on property:sys.boot_completed=1
    chmod 777 /data/securedStorageLocation/SmartHome/PROT_LOCALSKILLS
    chown vendor_smarthome vendor_smarthome /data/securedStorageLocation/SmartHome/PROT_LOCALSKILLS
    chmod 777 /data/securedStorageLocation/SmartHome/PROT_LOCALSKILLS/CapabilityInstanceDatabase.db
    chmod 777 /data/securedStorageLocation/SmartHome/PROT_LOCALSKILLS/LocalSkillsAdapterDatabase.db
    start shlocalskillsd

# TODO https://issues.labcollab.net/browse/CDLOCOLAP-142 review if we need a new user for shlocalskillsd
service shlocalskillsd /system/bin/SmartHomeLocalSkillsd
    class main
    user vendor_smarthome
    group dbus inet amz_group
    disabled
