# CSM SmartHome Wifi Daemon init.rc configuration

on post-fs-data
    mkdir /data/securedStorageLocation/com.amazon.device.smarthome.adapters.wifi 0777 vendor_smarthome vendor_smarthome
    mkdir /data/securedStorageLocation/SmartHome 0777 vendor_smarthome vendor_smarthome

on property:sys.boot_completed=1
    chown vendor_smarthome:vendor_smarthome /data/securedStorageLocation/SmartHome/PROT_WIFI
    chmod 777 /data/securedStorageLocation/SmartHome/PROT_WIFI
    chmod 777 /data/securedStorageLocation/SmartHome/PROT_WIFI/CapabilityInstanceDatabase.db
    chmod 777 /data/securedStorageLocation/SmartHome/PROT_WIFI/WifiAdapterDatabase.db
    chmod 777 /data/securedStorageLocation/SmartHome/PROT_WIFI/WifiAdapterDatabase.db-journal
    start smarthomewifid

service smarthomewifid /system/bin/SmartHomeWifid
    class main
    user vendor_smarthome
    group dbus inet net_raw vendor_amazon_gid
    capabilities NET_RAW SETPCAP
    disabled
