#keyword_spotter.external_spotter_config_files += stop_spotter.cfg.json Commented out by BDP Fragment Assembler
#keyword_spotter.external_spotter_config_files += hey_disney_spotter.cfg.json Commented out by BDP Fragment Assembler
#scorer.multi.config_filepath_list += stop_decoder.cfg.json Commented out by BDP Fragment Assembler
