service perfmonitord /system/bin/perfmonitord
    user root
    group system readproc aipc
    class main

on post-fs
    insmod /vendor/lib/modules/perfinfo.ko
    chown root system /sys/kernel/perfinfo/total_pss_kb
    chmod 0660 /sys/kernel/perfinfo/total_pss_kb
    chown root system /sys/kernel/perfinfo/target_pid_kill
    chmod 0660 /sys/kernel/perfinfo/target_pid_kill
    chown root system /sys/kernel/perfinfo/oom_score_adj
    chmod 0660 /sys/kernel/perfinfo/oom_score_adj
    restorecon_recursive /sys/kernel/perfinfo
    chmod 0404 /sys/kernel/slab/ksm_rmap_item/object_size

    insmod /vendor/lib/modules/perf_cpu_info.ko
    chown root system /proc/perf_cpu_info
    chmod 0660 /proc/perf_cpu_info
    chown root system /proc/perf_cpu_usage
    chmod 0660 /proc/perf_cpu_usage

