recognizer.client_type = "acr"

fe.type = "FBE"
fe.audio_analysis.dither = 0.0
fe.audio_analysis.frame_length_milli = 25
fe.audio_analysis.frame_shift_milli = 10
fe.audio_analysis.preemphasis_coeff = 0.96875
fe.audio_analysis.remove_dc_offset = 1
fe.audio_analysis.round_to_power_of_two = 1
fe.audio_analysis.samplerate = 16000
fe.audio_analysis.window_type = "povey"
fe.cep.raw_energy = 1
fe.cep.use_energy = 0
fe.feat.dimensions = 33
fe.feat.stack_left = 0
fe.feat.stack_right = 0
fe.feat.do_mean_norm = 0
fe.feat.do_variance_norm = 0
fe.feat.norm_window_size = 2147483647
fe.feat.min_frames_norm = 100
fe.feat.continuous_norm_estimation = 1
fe.feat.adapt_norm_stats = 1
fe.feat.current_frame_decay_weight = 0.003
fe.feat.transform_filepath = ""
fe.feat.affine_transform_filepath = ""
fe.mel_fbank.high_freq = 6000
fe.mel_fbank.low_freq = 100
fe.mel_fbank.num_bins = 33

fingerprinter.enabled = 1
fingerprinter.fingerprint_length_msec = 4000
fingerprinter.feature_sum_length_msec = 385
fingerprinter.window_type = "povey"
fingerprinter.povey_parameter = 0.1
fingerprinter.externalized_fingerprint_version_label = 2

watermark.enable = 1
watermark.config_filepath = "watermark.cfg.json"
watermark.spotter.config_filepath = "watermark_spotter.json"
search.decoder_type="automatic-content-recognition"
