INCLUDE "audiofrontendconfig/pryon.config"
INCLUDE "nttfusionconfig/pryon.config"
INCLUDE "dvaddecoder/pryon.config"
INCLUDE "encoder/pryon.config"
INCLUDE "fingerprintconfig/pryon.config"
INCLUDE "siddecoder/pryon.config"
INCLUDE "multi-wakeword-wakeworddecoder/pryon.config"
INCLUDE "alexa-wakeworddecoder/pryon.config"
INCLUDE "watermarkconfig/pryon.config"
INCLUDE "BDPGeneratedFiles/pryon.config" 